body {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  font-family: 'Merriweather', serif;
  text-align: center;
}

h1 {
  font-size: 5.45rem;
  padding-top: 10%;
  margin-top: 0;
  font-family: 'Sacramento', cursive;
  margin-bottom: 0;
  color: #66BFBF;
}

h2 {
  font-weight: normal;
  color: #66BFBF;
  margin-top: 3px;
  font-family: 'Montserrat', sans-serif;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

.top {
  background-color: #e4f9f5;
}

.bottom-cloud {
  position: absolute;
}

h2.skillheading{
font-size: 3.1rem;
}

.top-cloud {
  position: absolute;
  padding: 5%;
  margin-left: 3%;
}

.mountain {
  height: 48.75%;
  width: 48.75%;
}

.man256 {
  width: 20%;
  border-radius: 100%;
  background-color: #66BFBF;
}

.skill-row {
  line-height: 2;
  text-align: left;
  width: 50%;
  margin: 100px auto;
}

.computer {
  margin-right: 3%;
  float: left;
  width: 25%;
}

hr {
  background-color: white;
  border: none;
  border-bottom-style: dotted;
  border-bottom-color: #bde4f4;
  border-bottom-width: thick;
  height: 2px;
  width: 3%;
}

.profile {
  margin-top: 2%;
  padding-top: 4%;
}

.skills {
  margin-top: 4%;
}

.ml {
  margin-left: 3%;
  float: right;
  width: 25%;
}

.available {}

.hlw {
  margin: 2% auto;
  text-align: center;
  width: 25%;
}

.btn {
  text-decoration: none;
  border-radius: 25px;
  margin: 1% auto;
  padding: 1.5%;
  background-color: #66BFBF;
  color: white;
}

.bottom-container {
  margin: 1% auto;
  padding: 3%;
  background-color: #66BFBF;
}

.copyright {
  color: #EAF6F6;
}
.git{
  font-size: 3rem;
  margin-bottom: 0;
}
.name{
  text-decoration: underline;
}
.phn{
  background-color: #e4f9f5;
}
.phnuser{
  background-color: #e4f9f5;
  visibility: hidden;
}
@media (max-width:1028px) {
  .phnuser {
    visibility: visible;
}
  .top{
    visibility: hidden;
  }
  .skills{
    visibility: hidden;
  }
  .contact-me{
    visibility: hidden;
  }
  .middle-container{
    visibility: hidden;
  }
}
